*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#likes{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
    position: relative;
}
#icon
{
position: relative;   
 background-color: black;
height: 2rem;
width: 2rem;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#icon:hover{
    background-color: rgb(93, 93, 207);
    cursor: pointer;
    
}
#rowcount{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}